@media only screen and (min-width: 601px) and (max-width: 960px) { /* small screens */
    .name {
        font-size: 40px;
        
    }
    .box {
        justify-content: center !important;
        display: flex !important;
        margin-right: 0px !important; 
        margin-top: 40px !important;
        padding: 50px !important;
        width: 100% !important;
    }
    .greeting {
        display: grid !important;
    }
    .dev {
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
        margin-right: 0px !important; 
    }
    .sentence {
        margin-bottom: 50px !important;
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1279px) { /* medium screens */
    .name {
        font-size: 50px;
        
    }
    .box {
        justify-content: center !important;
        display: flex !important;
        margin-right: 0px !important; 
        margin-top: 40px !important;
        padding: 50px !important;
        width: 100% !important;
    }
    .greeting {
        display: grid !important;
    }
    .dev {
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
        margin-right: 0px !important; 
    }
    .sentence {
        margin-bottom: 50px !important;
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
    }
}

/* @media only screen and (min-width: 1280px) and (max-width: 1919px) { /* medium screens */
    .name {
        font-size: 50px;
        
    }
    .box {
        justify-content: center !important;
        display: flex !important;
        margin-right: 0px !important; 
        margin-top: 40px !important;
        padding: 50px !important;
        align-items: center !important;
    }
    .greeting {
        display: grid !important;
    }
    .dev {
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
        margin-right: 0px !important; 
    }
    .sentence {
        margin-bottom: 50px !important;
        align-items: center !important;
        justify-content: center!important;
        display: flex !important;
    }
/*} */